{% extends "base.html" %}

{% load static %}

{% load tramite_tags %}

{% block css %}
<!-- Date picker plugins css -->
  <link href="{% static "assets/plugins/bootstrap-datepicker/bootstrap-datepicker.min.css" %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block contenido %}
<div class="card">
  <div class="card-body">
    <h4 class="card-title">Lista de Tramites<a class="float-right btn btn-info m-l-5" href="{% url 'index' %}"><span class="btn-label"><i class="fa fa-reply"></i></span>Volver</a><button class="float-right btn btn-primary" data-toggle="modal" data-target="#responsive-modal" id="registro-tramite"><span class="btn-label"><i class="fa fa-plus"></i></span>Registrar</button></h4>
    <div class="table-responsive m-t-40">
      <table id="myTable" class="table table-bordered table-sm table-striped">
        <thead>
          <tr>
            <th>Num</th>
            <th>Tipo Tramite</th>
            <th>Estado</th>
            <th>Objeto</th>
            <th>Parte</th>
            <th>Contra Parte</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %}

{% block js %}
<!-- This is data table -->
<script src="{% static "assets/plugins/datatables/jquery.dataTables.min.js" %}"></script>
<script src="{% static "assets/paginas/tramite/tramite-index.js" %}"></script>
{% endblock %}
