{% load static %}
<div class="modal-header">
  <h4 class="modal-title">Editar Persona</h4>
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
</div>
{% if form.errors %}
<div class="alert alert-danger">
    {{ form.non_field_errors }}
    <ul>
        {% for field in form %}
            {% if field.errors %}<li>{{ field.label }}: {{ field.errors|striptags }}</li>{% endif %}
        {% endfor %}
    </ul>
</div>
{% endif %}
<div class="modal-body">
  <form id="form-persona" action="{% url 'persona-editar' pk=persona.id %}" method="post">
    {% csrf_token %}
    {% csrf_token %}
    <div class="row">
        <div class="col-md-6">
            <small><strong>Numero Documento</strong></small>         
            {{ form.nro_documento }}
        </div>
        <div class="col-md-6">            
            <small><strong>Expedido</strong></small>
            {{ form.expedido }}
        </div>
    </div>
    <div class="form-group m-0">
        <small><strong>Nombres</strong></small>     
        {{ form.nombres }}
    </div>
    <div class="row">
        <div class="col-md-6">
            <small><strong>Apellido Paterno</strong></small>
            {{ form.apellido_pat }}
        </div>
        <div class="col-md-6">        
            <small><strong>Apellido Materno</strong></small>
            {{ form.apellido_mat }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <small><strong>Estado Civil</strong></small>
            {{ form.estado_civil }}
        </div>
        <div class="col-md-6">
            <small><strong>Genero</strong></small>
            {{ form.genero }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <small><strong>Fecha de Nacimiento</strong></small>
            {{ form.fecha_nacimiento }}
        </div>
        <div class="col-md-6">
            <small><strong>Nacionalidad</strong></small>        
            {{ form.nacionalidad }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <small><strong>Telefono</strong></small>
            {{ form.telefono }}
        </div>
        <div class="col-md-6">
            <small><strong>Email</strong></small>
            {{ form.email }}
        </div>
    </div>
    <div class="form-group m-0">
        <small><strong>Direccion</strong></small>
        {{ form.direccion }}
    </div>
    <div class="row">
        <div class="col-md-6">
            <small><strong>Natural</strong></small>
            {{ form.natural }}
        </div>
        <div class="col-md-6">            
            <small><strong>Tipo</strong></small>
            {{ form.tipo_persona }}
        </div>
    </div>
    <div class="tipo-persona hide">
        <small><strong>Razon Social</strong></small>
        {{ form.razon_social }}
    </div>
    <div class="row ">
        <div class="col-md-6 tipo-persona hide">
            <small><strong>NIT</strong></small>
            {{ form.nit }}
        </div>
        <div class="col-md-6 tipo-persona hide">
            <small><strong>Fundempresa</strong></small>       
            {{ form.fundempresa }}
        </div>
    </div>
    <div class="tipo-persona hide">
        <small><strong>Poder</strong></small>
        {{ form.poder }}
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Cerrar</button>
        <button type="submit" class="btn btn-danger waves-effect waves-light">Guardar</button>
    </div>
  </form>
</div>


<!-- Date Picker Plugin JavaScript -->
<script src="{% static "assets/plugins/bootstrap-datepicker/bootstrap-datepicker.min.js" %}"></script>
<script src="{% static "assets/plugins/bootstrap-datepicker/dist/es.js" %}"></script>
<!-- Date range Plugin JavaScript -->
<script>
  $('.fecha').datepicker({
    autoclose: true,
    todayHighlight: true,
    format: "dd/mm/yyyy",
    language: "es",
  });
  
  $('form').keypress(function(e){   
    if(e == 13){
      return false;
    }
  });

  $('input').keypress(function(e){
    if(e.which == 13){
      return false;
    }
  });

  $('#form-persona').on('submit', function (e) {
      e.preventDefault();
      var $formData = $(this).serialize();
      var $thisUrl = $(this).attr('action');
      var $thisMethod = $(this).attr('method');
      $.ajax({
          method: $thisMethod,
          url: $thisUrl,
          data: $formData,
          success: function(data){
            $("#contenido-modal").html(data);
          },
          error: function(xhr,errmsg,err) {
            // Show an error
            $('#results').html("<div class='alert-box alert radius' data-alert>"+
            "Oops! We have encountered an error. <a href='#' class='close'>&times;</a></div>"); // add error to the dom
            console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
          }
      })
  });

  $("#id_tipo_persona").on('change', function(e){
      if($(this).val() == 0)
      {
          $('.tipo-persona').hide();
      }
      else 
      {
          $('.tipo-persona').show();  
      }
  });

  $("input").keyup(function(e){
      this.value = this.value.toUpperCase();
  });
  $("textarea").keyup(function(e){
      this.value = this.value.toUpperCase();
  });
</script>